<!DOCTYPE html>
<html>

<head>
	<title>Nitro TFTP</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">
	<link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
	<style>
		h1 {
			padding-left: 10px;
		}

		p {
			padding-left: 10px;
		}

		div {
			padding-left: 10px;
		}
	</style>
</head>

<body ng-app="app">
	<md-content>
		<section layout="row" layout-align="center center" layout-wrap>
			<h1 class="md-display-1">NitroTFTP UI</h1>
			<div class="inset" ng-controller="SwitchDemoCtrl">
				<md-switch ng-model="data.stateoff" ng-change="onChange(data.stateoff)" ng-false-value="'Off'" ng-true-value="'On'" aria-label="Status">Status: {{ data.stateoff }}</md-switch>
			</div>
		</section>
	</md-content>
	<p class="md-body-1">
		Make running a TFTP server as simple as clicking a button!
	</p>
	<script source src="bower_components/angular/angular.js" type="application/javascript"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-material/angular-material.js"></script>
	<script src="bower_components/Chart.js/Chart.min.js"></script>
	<script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
	<script source src="lib/controller.js" type="application/javascript"></script>
	<div ng-controller="LineCtrl">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">Example</div>
						<div class="panel-body">
							<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-click="onClick"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<md-content>
		<div ng-controller="StatsCall">
			<md-button ng-click="statsClick()" class="md-raised md-primary">GetStats</md-button>
			<p class="md-body-1">
				Bytes Sent: {{ data.totalbytessent}} <br>
				Bytes Received: {{ data.totalbytesrecv }}
			</p>
		</div>
	</md-content>
</body>

</html>
